*__pycache__*
chkpt
data_svc
data_svc_raw
files
logs
*.tar
whisper_pretrain/medium.pt
*.pth
*.pt
activate.bat
archival
data_svc*
dataset_raw*
hubert_pretrain/*.pt
*.json
models
recordings
reserved
results
prepare/rmvpe.pt
*.wav
*.npy
*.ipynb
*.mp3
whisper_pretrain/*.pt
*.csv