fsspec
pyworld
matplotlib
soundfile
scikit-learn
scipy
tensorboard
transformers
tqdm
librosa
omegaconf
PyQt5
gradio==3.36.1
ruamel.yaml
resampy
numpy==1.24
chardet
faiss-cpu==1.7.4
ffmpeg
prefetch_generator
pytorch_lightning